<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <div id="app">
        <ul>
            <li v-for="(fruit,index) in fruits">({{ index }}){{ fruit }}</li>
        </ul>
        <ul>
            <li v-for="(value,key,index) in object">({{ index }}){{ key }}-{{ value }}</li>
        </ul>
        <template v-for="fruit in fruits">
            <li>{{ fruit }}</li>
            <hr>
        </template>
        <template v-for="n in 10">
            <li>{{ n }}</li>
        </template>
    </div>

    <script>
        new Vue({
            el: '#app',
            data:{
                fruits:['apple','banana','grape'],
                object:{
                    firstName:'taro',
                    lastName:'tanaka',
                    age:21
                }
            }
        })
    </script>
</body>

</html>